<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <%- include('./head.ejs', {page: page}); %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <main class="main">
    <div class="login-container">
        
        <form id="my-form" method="post">
            <h2>请登录以进入管理员</h2>
            <div class="notice">
                <%- noticeText %>
            </div>
            <div>
                <label for="password">密码:</label>
                <input required type="password" id="password" name="password">
            </div>
            <div class="button">
                <button type="submit">提交</button>
            </div>
        </form>
    </div>

    <%- include('./footer.ejs', {config: config}); %>
    <script src="/javascripts/adminLogin.js"></script>
    </main>
</body>

</html>