<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/mainstyle.css">
<link rel="stylesheet" href="/stylesheets/tables.css">
<link rel="shortcut icon" href="/image/logo.png">
<title><%= page.title %></title>