<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/mainstyle.css">
<link rel="stylesheet" href="/stylesheets/tables.css">
<link rel="shortcut icon" href="/images/logo.png">
<title><%= page.title + '-' + config.siteTitle %></title>