<nav class="site-nav">
    <div class="site-meta">
       <a href="/" class="brand" rel="start">
            <span class="site-title"><%= config.siteTitle %></span>
       </a>
   </div>
   <ul class="main-menu">
       <li><a href="/"><%= page.userName %></a></li>
       <li><a href="/logout">退出登录</a></li>
   </ul>
</nav>