<footer class="footer">
    <div class="copyright">
        本网站由
        <span class="author" itemprop="copyrightHolder">
            <a href="https://github.com/floatingblocks">FloatingBlocks</a>
        </span>
        提供技术支持。
    </div>
</footer>