<meta charset="UTF-8">
<link rel="stylesheet" href="/src/css/mainstyle.css">
<link rel="stylesheet" href="/src/css/tables.css">
<link rel="shortcut icon" href="/src/img/logo.png">
<title><%= page.title %></title>