<nav class="site-nav">
    <div class="site-meta">
       <a href="/" class="brand" rel="start">
            <span class="site-title">无情的作业提交机器</span>
       </a>
   </div>
   <ul class="main-menu">
       <li><a href="/login">登录</a></li>
       <li><a href="/register">注册</a></li>
   </ul>
</nav>